<div class="hero">
  <div class="hero__wrapper">
    <h2 class="hero__title">
      Octubre Promocional
    </h2>
    <h3 class="hero__subtitle">
      Productos selecionados con 33% de descuento
    </h3>
    <a href="#/consoles" class="btn">
      Ver Consolas
    </a>
  </div>
</div>
<div class="main">
  <div class="main__section-card-container">
    <div class="section-card">
      <div class="section-card__header">
        <h2 class="section-card__title">
          Star Wars
        </h2>
        <a href="#/productos" class="card__link">
          Ver todo
          <svg class="card__link-icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1_509)">
              <path
                d="M2.66634 8.66666L10.7797 8.66667L7.05301 12.3933L7.99967 13.3333L13.333 8L7.99968 2.66667L7.05968 3.60667L10.7797 7.33333L2.66634 7.33333L2.66634 8.66666Z"
                fill="#2A7AE4" />
            </g>
            <defs>
              <clipPath>
                <rect width="16" height="16" fill="white" />
              </clipPath>
            </defs>
          </svg>

        </a>
      </div>
      <div class="section-card__cards-container section-card__cards-container--starwars" data-category="StarWars">
        <!-- <div class="card card--inicio">
          <div class="card__img-container">
            <img class="card__img" src="./assets/products/StarWars/star-wars_1.svg" alt="Producto Star Wars">
          </div>
          <h3 class="card__title">Producto XYZ</h3>
          <p class="card__price">$ 60,00</p>
          <a href="" class="card__link">Ver producto</a>
        </div>
        <div class="card card--inicio">
          <div class="card__img-container">
            <img class="card__img" src="./assets/products/StarWars/star-wars_2.svg" alt="Producto Star Wars">
          </div>
          <h3 class="card__title">Producto XYZ</h3>
          <p class="card__price">$ 60,00</p>
          <a href="" class="card__link">Ver producto</a>
        </div>
        <div class="card card--inicio">
          <div class="card__img-container">
            <img class="card__img" src="./assets/products/StarWars/star-wars_3.svg" alt="Producto Star Wars">
          </div>
          <h3 class="card__title">Producto XYZ</h3>
          <p class="card__price">$ 60,00</p>
          <a href="" class="card__link">Ver producto</a>
        </div>
        <div class="card card--inicio">
          <div class="card__img-container">
            <img class="card__img" src="./assets/products/StarWars/star-wars_4.svg" alt="Producto Star Wars">
          </div>
          <h3 class="card__title">Producto XYZ</h3>
          <p class="card__price">$ 60,00</p>
          <a href="" class="card__link">Ver producto</a>
        </div>
        <div class="card card--inicio">
          <div class="card__img-container">
            <img class="card__img" src="./assets/products/StarWars/star-wars_5.svg" alt="Producto Star Wars">
          </div>
          <h3 class="card__title">Producto XYZ</h3>
          <p class="card__price">$ 60,00</p>
          <a href="" class="card__link">Ver producto</a>
        </div>
        <div class="card card--inicio">
          <div class="card__img-container">
            <img class="card__img" src="./assets/products/StarWars/star-wars_6.svg" alt="Producto Star Wars">
          </div>
          <h3 class="card__title">Producto XYZ</h3>
          <p class="card__price">$ 60,00</p>
          <a href="" class="card__link">Ver producto</a>
        </div> -->

      </div>
    </div>
  </div>
  <div class="main__section-card-container">
    <div class="section-card" id="consoles">
      <div class="section-card__header">
        <h2 class="section-card__title">
          Consolas
        </h2>
        <a href="productos.html" class="card__link">
          Ver todo
          <svg class="card__link-icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1_509)">
              <path
                d="M2.66634 8.66666L10.7797 8.66667L7.05301 12.3933L7.99967 13.3333L13.333 8L7.99968 2.66667L7.05968 3.60667L10.7797 7.33333L2.66634 7.33333L2.66634 8.66666Z"
                fill="#2A7AE4" />
            </g>
            <defs>
              <clipPath>
                <rect width="16" height="16" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </a>
      </div>
      <div class="section-card__cards-container section-card__cards-container--consolas" data-category="Consolas">
        <!-- <div class="card card--inicio">
          <div class="card__img-container">
            <img class="card__img" src="./assets/products/Consolas/consolas_1.svg" alt="Producto consola">
          </div>
          <h3 class="card__title">Control y consola XYZ</h3>
          <p class="card__price">$ 60,00</p>
          <a href="" class="card__link">Ver producto</a>
        </div>

        <div class="card card--inicio">
          <div class="card__img-container">
            <img class="card__img" src="./assets/products/Consolas/consolas_2.svg" alt="Producto consola">
          </div>
          <h3 class="card__title">Consola XYZ</h3>
          <p class="card__price">$ 60,00</p>
          <a href="" class="card__link">Ver producto</a>
        </div>

        <div class="card card--inicio">
          <div class="card__img-container">
            <img class="card__img" src="./assets/products/Consolas/consolas_3.svg" alt="Producto consola">
          </div>
          <h3 class="card__title">Control XYZ</h3>
          <p class="card__price">$ 60,00</p>
          <a href="" class="card__link">Ver producto</a>
        </div>
        <div class="card card--inicio">
          <div class="card__img-container">
            <img class="card__img" src="./assets/products/Consolas/consolas_4.svg" alt="Producto consola">
          </div>
          <h3 class="card__title">Control XYZ</h3>
          <p class="card__price">$ 60,00</p>
          <a href="" class="card__link">Ver producto</a>
        </div>
        <div class="card card--inicio">
          <div class="card__img-container">
            <img class="card__img" src="./assets/products/Consolas/consolas_5.svg" alt="Producto consola">
          </div>
          <h3 class="card__title">Consola XYZ</h3>
          <p class="card__price">$ 60,00</p>
          <a href="" class="card__link">Ver producto</a>
        </div>
        <div class="card card--inicio">
          <div class="card__img-container">
            <img class="card__img" src="./assets/products/Consolas/consolas_6.svg" alt="Producto consola">
          </div>
          <h3 class="card__title">Game Boy Color</h3>
          <p class="card__price">$ 60,00</p>
          <a href="" class="card__link">Ver producto</a>
        </div> -->
      </div>
    </div>
  </div>
  <div class="main__section-card-container">
    <div class="section-card">
      <header class="section-card__header">
        <div class="section-card__title">
          Diversos
        </div>
        <a href="productos.html" class="card__link">
          Ver todo
          <svg class="card__link-icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1_509)">
              <path
                d="M2.66634 8.66666L10.7797 8.66667L7.05301 12.3933L7.99967 13.3333L13.333 8L7.99968 2.66667L7.05968 3.60667L10.7797 7.33333L2.66634 7.33333L2.66634 8.66666Z"
                fill="#2A7AE4" />
            </g>
            <defs>
              <clipPath>
                <rect width="16" height="16" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </a>
      </header>

      <div class="section-card__cards-container section-card__cards-container--diversos" data-category="Diversos">
        <!-- <div class="card card--inicio">
          <div class="card__img-container">
            <img class="card__img" src="./assets/products/Diversos/diversos_1.svg" alt="Producto diverso">
          </div>
          <h3 class="card__title">Camisa Atari</h3>
          <p class="card__price">$ 60,00</p>
          <a href="" class="card__link">Ver producto</a>
        </div>
        <div class="card card--inicio">
          <div class="card__img-container">
            <img class="card__img" src="./assets/products/Diversos/diversos_2.svg" alt="Producto diverso">
          </div>
          <h3 class="card__title">Camisa SNES</h3>
          <p class="card__price">$ 60,00</p>
          <a href="" class="card__link">Ver producto</a>
        </div>
        <div class="card card--inicio">
          <div class="card__img-container">
            <img class="card__img" src="./assets/products/Diversos/diversos_3.svg" alt="Producto diverso">
          </div>
          <h3 class="card__title">Control y consola XYZ</h3>
          <p class="card__price">$ 60,00</p>
          <a href="" class="card__link">Ver producto</a>
        </div>
        <div class="card card--inicio">
          <div class="card__img-container">
            <img class="card__img" src="./assets/products/Diversos/diversos_4.svg" alt="Producto diverso">
          </div>
          <h3 class="card__title">Control y consola XYZ</h3>
          <p class="card__price">$ 60,00</p>
          <a href="" class="card__link">Ver producto</a>
        </div>
        <div class="card card--inicio">
          <div class="card__img-container">
            <img class="card__img" src="./assets/products/Diversos/diversos_5.svg" alt="Producto diverso">
          </div>
          <h3 class="card__title">Control y consola XYZ</h3>
          <p class="card__price">$ 60,00</p>
          <a href="" class="card__link">Ver producto</a>
        </div>
        <div class="card card--inicio">
          <div class="card__img-container">
            <img class="card__img" src="./assets/products/Diversos/diversos_6.svg" alt="Producto diverso">
          </div>
          <h3 class="card__title">Producto XYZ</h3>
          <p class="card__price">$ 60,00</p>
          <a href="" class="card__link">Ver producto</a>
        </div> -->
      </div>
    </div>
  </div>
</div>