<div class="main main--form">
  <div class="main__form-container">
    <form class="form form--login" action="post">
      <h4 class="form__title">Iniciar Sesión</h4>
      <div class="form__input-group">
        <input class="form__input" type="email" name="mail" placeholder="Mail" id="login-mail"
          data-input="name" required>
        <label class="form__label" for="login-mail">Correo electrónico</label>
      </div>
      <div class="form__input-group">
        <input type="password" class="form__input" name="password" placeholder="Escriba su contraseña"
          id="login-password">
        <label class="form__label" for="login-password">Contraseña</label>
      </div>
      <div class="form__btn-group">
        <button type="submit" class="form__submit btn w-100">
          Entrar
        </button>
        <button type="button" class="form__logout btn btn--light w-100 hidden">
          Logout
        </button>
      </div>
    </form>
  </div>
  <p class="main__text">
    Hint:
  </p>
  <p class="main__text">
    mail: admin@mail.com
  </p>
  <p class="main__text">
    password: admin
  </p>
</div>