<div class="main main--form">
  <div class="main__form-container">
    <form class="form form--login" action="post" autocomplete="off">
      <h4 class="form__title">Iniciar Sesión</h4>
      <div class="form__input-group">
        <input class="form__input" type="email" name="login[mail]" placeholder="Nombre" id="login-mail"
          data-input="name" required>
        <label class="form__label" for="login-mail">Correo electrónico</label>
      </div>
      <div class="form__input-group">
        <input type="password" class="form__input" name="login[password]" placeholder="Escriba su contraseña"
          id="login-password">
        <label class="form__label" for="login-password">Contraseña</label>
      </div>
      <button type="submit" class="form__submit btn w-100">
        Entrar
      </button>
    </form>
  </div>
</div>