<div class="modal">
  <button class="modal__close-btn fa-solid fa-xmark"></button>
  <div class="modal__content">
    <h3 class="modal__text">Estás por salir de tu sesión</h3>
    <div class="modal__btns-container">
      <button class="btn btn--success modal__success">Confirmar</button>
    </div>
  </div>
</div>